RewriteEngine on

RewriteRule (css/.*\.css)$ http://assets.hurgle.com/plcl/$1 [L,R=301,NC]
RewriteRule (img/.*\.png)$ http://assets.hurgle.com/plcl/$1 [L,R=301,NC]
RewriteRule (js/.*\.js)$ http://assets.hurgle.com/plcl/$1 [L,R=301,NC]
